
<div class="container fullpage-container">
  <div class="row">
    <div class="col-md-6 mx-auto py-6">
        <p>Booked from <%= @booking.date_borrowed %> to the <%= @booking.date_returned %>
        </p>
        <br>
        <br>
    </div>

    <div class="col-md-6 mx-auto py-4">
        <% if @booking.date_returned > Date.today %>
        <%= simple_form_for [@booking, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.submit "Add a review", class: "btn btn-primary" %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

