<div class="container">

  <!-- User info section -->
  <div class="user-info d-flex justify-content-between">
    <div class="d-flex justify-content-between">
      <id class="avatar-user">
        <%= cl_image_tag @user.photo, class: "avatar-max" %>
        <!-- choose photo and photo upload button will be rendered here -->
      </id>

      <div id="profile-info">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <hr>
        <br>
        <table>
          <tbody>
            <tr>
              <th class="label">E-mail:</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th class="label">Address:</th>
              <td><%= @user.address %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex flex-column">
      <% if policy(@user).update? %>
        <%= link_to 'Update profile', edit_user_registration_path, class:"btn btn-outline-primary btn-sm rounded m-2" %>
      <% end %>
      <% if policy(@user).destroy? %>
        <%= link_to 'Delete profile', user_registration_path, class:"btn btn-outline-primary btn-sm rounded m-2", data: { confirm: 'Are you sure you want to delete your account?' }, method: :delete %>
      <% end %>
    </div>
  </div>

  <!-- User boardgames section -->
  <div class="user-boardgames">
    <h4 class="text-center">My Bookings</h4>
    <hr class="w-50">

    <% if @bookings.exists? %>
      <div class="cards">
      <br>
        <% @bookings.each do |booking| %>
          <%= link_to booking_path(booking.id), class: "home-card-link" do %>
            <div class="card-product rounded">
              <%= cl_image_tag booking.boardgame.photo %>
              <div class="card-product-infos">
                <h2><%= booking.boardgame.name %></h2>
                <p><%= truncate(booking.boardgame.description, length: 100) %></p>
                <p class="price"><strong>TotalPrice: € <%= booking.total_price %> </strong></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="text-center">No bookings yet...</p>
    <% end %>
    <br>
    <br>
  </div>

  <h4 class="text-center">My submitted reviews</h4>
  <hr class="w-50">
  <% @reviews = @user.reviews.last(5).reverse %>
  <% if @reviews.empty? %>
    <p class="text-center">You haven't submitted any reviews yet...</p>
  <% else %>
    <% @reviews.each do |review| %>
        <div class="review-card p-2"> <!-- review card (main) -->
          <div class="general-information">
            <div class="stars">
              <% review.rating.times do |s| %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
            <div class="user-information"> <!-- user name and avatar -->
              <p><%= @user.first_name %> <%= @user.last_name %></p>
              <%= cl_image_tag @user.photo, crop: :fill, class: "avatar" %>
            </div>
          </div>
          <div class="review-content"> <!-- content -->
            <p><%= review.content %></p>
          </div>
        </div>
    <% end %>
  <% end %>
</div>



<script>
  let updateUser = document.querySelector(".update-user")
  let avatarUser = document.querySelector(".avatar-max")

  updateUser.addEventListener('click', (element) => {
    // updateUser.preventDefault();
    avatarUser.insertAdjacentHTML(
      'afterbegin',
     "<%= j render 'avatar_update_form' %>"
     )
  });
</script>

