<div class="container fullpage-container">
  <%= simple_form_for(@boardgame) do |f| %>
    <%= f.input :name, placeholder: 'Title of the game, as displayed on ,the cover' %>
    <%= f.input :description, placeholder: 'Please add a description for the game so people not knowing this game get an idea how it works.'%>
    <%= f.input :year, collection: (1970..2019), prompt: "Select year of game edition"%>
    <%= f.label :price_per_day %>
    <%= f.number_field :price_per_day, :class => 'text_field', :step => 0.5, placeholder: "€ 2.00" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache , as: :hidden %>
    <%= f.button :submit, :value => "Submit" , :class => "btn btn-outline-primary btn-sm rounded m-2"%>
  <% end %>
</div>


