<div class="container">

  <div class="card-boardgame">
    <%= cl_image_tag @boardgame.photo, crop: :fill, alt: @boardgame.name %>
    <div>
      <h2><%= @boardgame.name %></h2><p>(<%= @boardgame.year %>)</p>
      <p><%= @boardgame.description %></p>
      <br>
      <p>The owners name is: <strong><%= @boardgame.user.first_name %> <%= @boardgame.user.last_name %>   </strong></p>
      <p>You can pick it up at:<strong> <%= @boardgame.user.address %> </strong></p>
      <!-- <h2 class="card-trip-pricing"><%= @boardgame.price_per_day %></h2> -->
      <%#= render 'availability_toggle' %>
    </div>
  </div>

   <br>
   <br>

  <div class="card p-5">
    <h5>Book your Boardgame here: </h5>
      <%= simple_form_for [@boardgame, @booking] do |f| %>
        <%= f.date_field :date_borrowed %>
        <%= f.date_field :date_returned %>
        <%= f.submit "Book", class: "btn btn-primary mx-3" %>
      <% end %>
  </div>

  <br>
  <br>
  <div class="card-reviews">
    <h3>Past reviews: </h3>
    <% @reviews = @boardgame.reviews %>
    <% @reviews.each do | review| %>
    <div class="notification-content">
      <% review.rating.times do |s| %>
      <i class="fas fa-star"></i>
      <% end %>
      <p> <%= review.booking.user.first_name %> <%= review.booking.user.last_name %></p>
      <p><%= truncate(review.content, length: 100) %></p>
    <% end %>
    </div>
  </div>

 <div class="card">
  </div>
    <% if policy(@boardgame).update? %>
      <%= link_to 'Update Boardgame', edit_boardgame_path(@boardgame), class:"btn btn-outline-primary btn-sm rounded m-2" %>
    <% end %>
    <% if policy(@boardgame).destroy? %>
      <%= link_to 'Delete Boardgame', boardgame_path(@boardgame), class:"btn btn-outline-primary btn-sm rounded m-2", data: { confirm: 'Are you sure?' }, method: :delete %>
    <% end %>
    <% if policy(@boardgame).update? %>
      <%= link_to 'Update Boardgame', edit_boardgame_path(@boardgame) %>
    <% end %>
   </div>
  </div>
</div>

