<!--
create a new review in the show of reviews (content/rating)
boardgame show edit button
boardgame show delete button
show a map where the game is located
-->
<div class="container">

  <div class="card-boardgame">
    <%= cl_image_tag @boardgame.photo, crop: :fill, alt: @boardgame.name %>
    <div>
      <h2><%= @boardgame.name %></h2><p>(<%= @boardgame.year %>)</p>
      <p><%= @boardgame.description %></p>
      <br>
      <h5>You can find this game at:</h5>
      <p><%= @boardgame.user.first_name %> <%= @boardgame.user.last_name %></p>
      <p><%= @boardgame.user.address %></p>
      <!-- <h2 class="card-trip-pricing"><%= @boardgame.price_per_day %></h2> -->
      <%#= render 'availability_toggle' %>
    </div>
    <div>

    </div>
  </div>

    <!-- <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/> -->

  <div class="card p-2">
    <% @reviews = @boardgame.reviews.last(5).reverse %>
    <% @reviews.each do | review| %>
    <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
      <%#= cl_image_tag @user.photo, alt: @user.last_name, @user.first_name %>
      <div class="notification-content">
        <% review.rating.times do |s| %>
        <i class="fas fa-star"></i>
        <% end %>
        <p><%= truncate(review.content, length: 100) %></p>
      </div>
      <div class="notification-actions">
        <%#= link_to "delete", review_path(@review), method: :delete %>
        <a href="#">Delete <i class="far fa-trash-alt"></i></a>
      </div>
    </div>
    <% end %>
    <% if current_user.has_booking_to_review? %>
    <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
      <div class="notification-content">
        <p><%= render 'review_form' %></p>
      </div>
      <div class="notification-actions">
        <%# if policy(@review).destroy? %>
          <%#= link_to edit_boardgame_path(@boardgame) do %>
<!--             <p>Delete <i class="far fa-trash-alt"></i></p> -->
          <%# end %>
        <%# end %>
      </div>
    </div>
    <% end %>

     <div class="flat-show-card">
    <h5>Book this game!</h5>
    <form action>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">From:</span>
        <input type="date" placeholder="12/10/2017" class="form-control">
      </div>

      <div class="input-group mt-2">
        <span class="input-group-addon" id="basic-addon1">To:</span>
        <input type="date" placeholder="18/10/2017" class="form-control">
      </div>
      <input type="submit" value="Book" class="btn btn-success w-100 mt-2">
    </form>
  </div>

  <div>
    <% if policy(@boardgame).update? %>
      <%= link_to 'Update Boardgame', edit_boardgame_path(@boardgame), class:"btn btn-outline-primary btn-sm rounded m-2" %>
    <% end %>
    <% if policy(@boardgame).destroy? %>
      <%= link_to 'Delete Boardgame', boardgame_path(@boardgame), class:"btn btn-outline-primary btn-sm rounded m-2", data: { confirm: 'Are you sure?' }, method: :delete %>
    <% end %>
  </div>
</div>



