<!--
create a new review in the show of reviews (content/rating)
boardgame show edit button
boardgame show delete button
show a map where the game is located
-->
<div class="container">

  <div class="card-trip p-2">
    <%= cl_image_tag @boardgame.photo, crop: :fill, alt: @boardgame.name %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @boardgame.name %></h2>
        <p><small><%= @boardgame.year %></small></p>
        <p><%= @boardgame.description %></p>
        <h2 class="card-trip-pricing"><%= @boardgame.price_per_day %></h2>
      </div>
    </div>
  </div>

  <div class="flat-show-card">
    <h5>Book this game!</h5>
    <form action>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">From:</span>
        <input type="date" placeholder="12/10/2017" class="form-control">
      </div>

      <div class="input-group mt-2">
        <span class="input-group-addon" id="basic-addon1">To:</span>
        <input type="date" placeholder="18/10/2017" class="form-control">
      </div>
      <input type="submit" value="Book" class="btn btn-success w-100 mt-2">
    </form>
  </div>

<div class="card-reviews">
  <h3>Here are the reviews</h3>
    <% @reviews = @boardgame.reviews.last(5).reverse %>
    <% @reviews.each do | review| %>
    <div class="notification-content">
      <% review.rating.times do |s| %>
      <i class="fas fa-star"></i>
      <p><%= truncate(review.content, length: 100) %></p>
      <% end %>
    <% end %>
</div>

    <div class="notification-actions">
        <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>

  <div class="card">
    <% if policy(@boardgame).update? %>
      <%= link_to 'Update Boardgame', edit_boardgame_path(@boardgame) %>
    <% end %>
  </div>

  <div class="card">
    <% if policy(@boardgame).destroy? %>
      <%= link_to 'Delete Boardgame', boardgame_path(@boardgame), data: { confirm: 'Are you sure?' }, method: :delete %>
    <% end %>
  </div>
</div>



