<!--
show the picture of the game
show the description of the game
show the year of the game
show the owner of the game
show the reviews of the game
create a new review in the show of reviews (content/rating)
boardgame show edit button
boardgame show delete button

show a map where the game is located


 -->
<div class="card">
  <div class="card">
    <%= image_tag @boardgame.photo, alt: @boardgame.name %>
  </div>
  <div class="car">
    <%= @boardgame.name %>
    <%= @boardgame.description %>
    <%= @boardgame.year %>
  </div>
  <div class="card">
    <%= render 'availability_toggle' %>
  </div>
</div>


 <%#= render 'review_form' %>
