<!--
show the picture of the game
show the description of the game
show the year of the game
show the owner of the game
show the reviews of the game
create a new review in the show of reviews (content/rating)
boardgame show edit button
boardgame show delete button
show a map where the game is located
 -->
<div class="container">
  <div class="card">
    <div class="card">
      <%= cl_image_tag @boardgame.photo, height: 300, width: 400, crop: :fill, alt: @boardgame.name %>
    </div>
    <div class="card">
      <ul>
        <li><%= @boardgame.name %></li>
        <li><%= @boardgame.description %></li>
        <li><%= @boardgame.year %></li>
      </ul>
    </div>
    <div class="card">
      <%#= render 'availability_toggle' %>
      <p>toggle should go here</p>
    </div>
  </div>

  <div class="card">
    <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
      <div class="notification-content">
        <% @reviews = Review.all.reverse %>
        <% 5.@reviews.each do | review| %>
        <%= review.rating  %>
        <%= review.content %>
        <% end %>
        <p><small><%= Review.last.rating %></small></p>
        <p><%= Review.last.content %></p>
      </div>

      <div class="notification-actions">
        <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
        <a href="#"><%= link_to 'Destroy',  boardgame_path,
          data: { confirm: 'Are you sure?' }, method: :delete %>
          <i class="far fa-trash-alt"></i>
        </a>
      </div>
    </div>

    <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
      <div class="notification-content">
        <p><%#= render 'review_form' %></p>
      </div>

      <div class="notification-actions">
        <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
        <a href="#"><%= link_to 'Destroy',  boardgame_path,
          data: { confirm: 'Are you sure?' }, method: :delete %>
          <i class="far fa-trash-alt"></i>
        </a>
      </div>
    </div>
  </div>
</div>




